<footer class="h-36 bg-gray-700 text-center font-expletus_sans text-white md:h-40 xl:h-48 mt-auto w-full" itemscope itemtype="https://schema.org/WebPage">
    <div class="width-header-footer">
        <div class="container-big flex items-center justify-between pt-5 md:pt-10 xl:pt-12">
            <a href="{{ site.baseurl }}{{ site.url }}">
                <img src="{{ '/build/front/images/logo_akawaka_blanc.svg' | prepend: site.baseurl | prepend: site.url }}"
                     alt="logo akawaka agence experte php, symfony, sylius"
                     title="Logo akawaka"
                     class="w-20 md:w-28 xl:w-36"
                     itemprop="image"/>
            </a>

            <div class="flex w-2/5 flex-wrap justify-around md:flex">
                {% for node in site.footer %}
                <a href="{{ site.baseurl }}{{ node.url }}" class="justify-around text-sm {% if page.url == node.url %}text-yellow-500{% else %}hover:text-yellow-500{% endif %} md:text-base xl:text-lg">{{ node.titlenav }}</a>
                {% endfor %}
            </div>

            <div class="flex w-14 flex-wrap justify-around md:w-24">
                <a href="https://www.linkedin.com/company/akawaka/" target="_blank" class="justify-around">
                    <img src="{{ '/build/front/images/reseaux-sociaux/linkedin-yellow-500.svg' | prepend: site.baseurl | prepend: site.url }}"
                         alt="icone linkedin"
                         title="Logo Linkedin"
                         class="w-6 md:w-8 xl:w-10"/>
                </a>

                <a href="https://twitter.com/akawakaweb?t=vq3fHte09FfFtaaxbyVYVQ&s=09" target="_blank" class="justify-around">
                    <img src="{{ '/build/front/images/reseaux-sociaux/twitter-black.svg' | prepend: site.baseurl | prepend: site.url }}"
                         alt="icone twitter"
                         title="Logo Twitter"
                         class="w-6 md:w-8 xl:w-10 bg-yellow-500 rounded-full"/>
                </a>
            </div>
        </div>

        <p class="pt-10 pb-2 text-xs text-white xl:pt-12 xl:text-base">© {{ "now" | date: "%Y" }} - AKAWAKA - Tous droits réservés</p>
    </div>
</footer>
