<header class="menu" itemscope itemtype="https://schema.org/WebPage">
    <div class="width flex flex-1 items-center justify-between">
        <div class="container-big flex flex-1 items-center justify-between">
            <a href="/">
                <img src="{{ '/build//front/images/logo_akawaka_blanc.svg' | prepend: site.baseurl | prepend: site.url }}" class="w-28 md:w-28 xl:w-36" alt="logo akawaka agence experte php symfony" />
            </a>

            <nav>
                <ol class="hidden list-none gap-x-7 text-sm md:flex md:text-base xl:text-lg" itemprop="itemListElement">
                    {% for node in site.header %}
                    <li>
                        <a href="{{ node.url }}" class="{% if page.url == node.url %}text-yellow-500{% else %}hover:text-yellow-500{% endif %}">{{ node.titlenav }}</a>
                    </li>
                    {% endfor %}

                    <li>
                        <a href="{{ site.baseurl }}/blog" class="{% if page.Title == 'Blog' %}text-yellow-500{% else %}hover:text-yellow-500{% endif %}">Blog</a>
                    </li>

                    <li>
                        <a href="{{ site.baseurl }}/contacter.html" class="{% if page.titlenav == 'Contact' %}text-yellow-500{% else %}hover:text-yellow-500{% endif %}">Contact</a>
                    </li>
                </ol>
            </nav>

            <label for="menu-toggle" class="z-10 block cursor-pointer md:hidden">
                <img src="{{ '/build//front/images/burger.svg' | prepend: site.baseurl | prepend: site.url }}" alt="icone menu burger"/>
            </label>

            <label for="menu-toggle" class="z-10 hidden cursor-pointer">
                <img src="{{ '/build//front/images/burger.svg' | prepend: site.baseurl | prepend: site.url }}" alt="icone menu burger"/>
            </label>
        </div>

        <input type="checkbox" class="hidden" id="menu-toggle"/>

        <div class="absolute top-14 right-0 hidden w-2/4 bg-gray-700" id="menu">
            <nav>
                <ol class="flex w-full list-none flex-col gap-y-4 py-8 text-center text-xl" itemprop="itemListElement">
                    {% for nav in site.header %}
                    <li>
                        <a href="{{ nav.url }}" class="{% if page.url == nav.url %}text-yellow-500{% else %}hover:text-yellow-500{% endif %}">{{ nav.titlenav }}</a>
                    </li>
                    {% endfor %}

                    <li>
                        <a href="{{ site.baseurl }}/contacter.html" class="{% if nav.titlenav == 'Contact' %}text-yellow-500{% else %}hover:text-yellow-500{% endif %}">Contact</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</header>
