<article class="mt-14 h-40 bg-gray-700 font-trirong border-b-4 border-solid border-transparent border-gradient-r-rose-orange-gray-700 md:h-48 xl:mt-20 xl:h-56">
    <div class="width flex h-full items-center justify-center pb-12 md:pb-16 xl:pb-24">
        <header class="container-big flex items-center justify-center">
            <img src="/build/front/images/losange-coupe.svg"
                 class="diamond"
                 alt="losange en dégradé avec les couleurs de l'agence akawaka"/>

            <h1 class="-ml-3 text-xl font-black uppercase tracking-widest text-white md:text-2xl xl:-ml-5 xl:text-3xl">
                {{ page.subtitle }}
            </h1>
        </header>
    </div>
</article>
