# Don't forget to add a global gitignore!
# see https://stackoverflow.com/questions/7335420/global-git-ignore#answer-7335487

/Makefile
/Makefile.local

/infrastructure/dev/docker

###> dev environment ##
/.editorconfig
/.php_cs.dist
/phpstan.neon
/rector.php
###< dev environment ###

###> docker environment ##
.dockerignore
/docker-compose*
/docker-dev.lock
/infrastructure/docker/**/data
###< docker environment ###

###> prod environment ##
###< prod environment ###

###> javascript ###
/node_modules
/npm-cache
/public/build/
npm-debug.log
yarn-error.log
###< javascript ###

###> symfony/framework-bundle ###
/.env.*
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
/phpunit.xml.dist
###< symfony/phpunit-bridge ###

###> friends-of-behat/symfony-extension ###
/behat.yml
/behat.yml.dist
###< friends-of-behat/symfony-extension ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###
