# Don't forget to add a global gitignore!
# see https://stackoverflow.com/questions/7335420/global-git-ignore#answer-7335487

/Makefile
/Makefile.local

###> dev environment ##
/.editorconfig
###< dev environment ###

###> docker environment ##
/docker-compose*
/docker-dev.lock
.dockerignore
/Dockerfile
_config_docker.yml
###< docker environment ###

###> prod environment ##
###< prod environment ###

###> javascript ###
/node_modules
/npm-cache
/public/build/
npm-debug.log
yarn-error.log
###< javascript ###

###> jekyll ###
/public/*
!/public/.gitkeep
.sass-cache
.jekyll-cache
.jekyll-metadata
/.bundle
###< jekyll ###
