default:
    suites:
        default:
            contexts:
                - Mono\Tests\Bundle\CoreBundle\Behat\Functional\Hook\DoctrineContext

        admin_user:
            contexts:
                - Mono\Tests\Bundle\CoreBundle\Behat\Functional\Hook\DoctrineContext
                - Mono\Tests\Bundle\AkaBundle\Behat\Context\CRUD\UserContext
            filters:
                tags: "@admin_user"

        security_user:
            contexts:
                - Mono\Tests\Bundle\CoreBundle\Behat\Functional\Hook\DoctrineContext
                - Mono\Tests\Bundle\AkaBundle\Behat\Context\Security\UserContext
            filters:
                tags: "@security_user"

        security_password_recovery:
            contexts:
                - Mono\Tests\Bundle\CoreBundle\Behat\Functional\Hook\DoctrineContext
                - Mono\Tests\Bundle\AkaBundle\Behat\Context\Security\PasswordRecoveryContext
            filters:
                tags: "@security_password_recovery"

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: "tests/bootstrap.php"
