default:
    suites:
        admin_user:
            paths:
                - 'src/Mono/Bundle/AkaBundle/features'
            contexts:
                - Mono\Tests\Bundle\CoreBundle\Behat\Functional\Hook\DoctrineContext
                - Mono\Tests\Bundle\AkaBundle\Behat\Application\Admin\UserContext
            filters:
                tags: "@admin_user"

        security_user:
            paths:
                - 'src/Mono/Bundle/AkaBundle/features'
            contexts:
                - Mono\Tests\Bundle\CoreBundle\Behat\Functional\Hook\DoctrineContext
                - Mono\Tests\Bundle\AkaBundle\Behat\Application\Security\UserContext
            filters:
                tags: "@security_user"

        security_password_recovery:
            paths:
                - 'src/Mono/Bundle/AkaBundle/features'
            contexts:
                - Mono\Tests\Bundle\CoreBundle\Behat\Functional\Hook\DoctrineContext
                - Mono\Tests\Bundle\AkaBundle\Behat\Application\Security\PasswordRecoveryContext
            filters:
                tags: "@security_password_recovery"

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: "tests/bootstrap.php"
