default:
    suites:
        ao:
            paths:
                - 'src/Mono/Bundle/AoBundle/features'
            contexts:
                - Mono\Bundle\AoBundle\Tests\Behat\CMS\Application\ArticleContext
                - Mono\Bundle\AoBundle\Tests\Behat\CMS\Application\CategoryContext
                - Mono\Bundle\AoBundle\Tests\Behat\CMS\Application\ChannelContext
                - Mono\Bundle\AoBundle\Tests\Behat\CMS\Application\PageContext

    extensions:
        FriendsOfBehat\SymfonyExtension: null
