<div class="flex justify-center items-center mt-24 gap-x-10">
    {% if paginator.page != 1 %}
    <a href="{{ paginator.previous_page_path }}">
        <span class="text-5xl bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-yellow-500">
            <
        </span>
    </a>
    {% endif %}

    <span class="subtitle">
    {{ paginator.page }} / {{ paginator.total_pages }}
    </span>

    {% if paginator.page != paginator.total_pages %}
    <a href="{{ paginator.next_page_path }}">
        <span class="text-5xl bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-yellow-500">
            >
        </span>
    </a>
    {% endif %}
</div>
