<article class="width-padding height bg-gray-100 text-center">
    {% include title.html %}

    <section class="container-big mt-12 grid grid-cols-clients gap-x-2 gap-y-2 md:grid-cols-clients-md">
        {% for customer in site.clients %}
        <div class="customer" title="{{ customer.title }}">
            <div class="start bg-{{ customer.class }}"></div>

            <div class="action">
                <h2 class="mb-2 font-expletus_sans text-2xl md:text-4xl">{{ customer.subtitle }}</h2>
            </div>
        </div>
        {% endfor %}
    </section>
</article>
