version: '3.8'

networks:
  backend: ~

services:
  php:
    build:
      context: .
      dockerfile: infrastructure/docker-full/Dockerfile
    volumes:
      - "./:/var/www/html:rw,cached"
      - "~/.composer/auth.json:/root/.composer/auth.json:ro"
    networks:
      backend: ~

  nginx:
    image: nginx:1.19
    depends_on:
      - php
    volumes:
      - "./infrastructure/docker-full/nginx/conf.d:/etc/nginx/conf.d:ro"
      - "./public:/var/www/html/public:ro"
    ports:
      - "${APP_NGINX_PORT:-80}:80"
    networks:
      backend: ~

  db:
    image: postgres:13
    environment:
      - POSTGRES_DB=akawaka
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
    volumes:
      - ./infrastructure/dev/docker/db/data:/var/lib/postgresql/data
    ports:
      - "${APP_MYSQL_PORT:-5432}:5432"
    networks:
      backend: ~

  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "${APP_MAILHOG_PORT:-8025}:8025"
    networks:
      backend: ~

volumes:
  db-data: {}
