<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('admin', null, 'admin') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('admin', null, 'admin') }}
        {% endblock %}
    </head>
    <body class="antialiased font-sans bg-gray-200">
        <div class="min-h-screen bg-white flex">
            <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
                <div class="mx-auto w-full max-w-sm lg:w-96">
                {% block body %}
                    {% include "Admin/Layout/Alert/_alert.html.twig" %}
                {% endblock %}
                </div>
            </div>
            <div class="hidden lg:block relative w-0 flex-1">
                <img class="absolute inset-0 h-full w-full object-cover" src="https://source.unsplash.com/Pu6yD1A6ywM?auto=format&fit=crop&w=1908&q=80" alt="">
            </div>
        </div>
    </body>
</html>
