<article class="width mt-24 md:mt-32 xl:mt-48">
    <div class="container-big">
        <header>
            <p class="text-yellow-500 main-text mb-5 mx-4">
                <a href="/blog.html" class="hover:text-gray-700">Blog </a>/
                <a href="{{ site.baseurl }}{% link blog/categories.md %}" class="hover:text-gray-700">Catégories</a> /
                <a href="{{ site.baseurl }}{% link _categories/{{ page.category }}.md %}" class="hover:text-gray-700">{{ page.category | capitalize }}</a> /
                {{ page.title | capitalize }}
            </p>
        </header>

        <div class="flex flex-col mx-4 md:relative lg:flex-row md:mx-20 lg:mx-0">
            <img src="{{ page.image }}" alt="{{ page.alt }}" class="w-full lg:w-2/4">

            <div class="blog blog-gradient">
                <h1 class="mb-5 title">{{ page.title }}</h1>

                <p class="main-text hidden md:block">{{ page.subtitle }}</p>
            </div>

            <div class="bg-pink-500 text-gray-100 py-4 px-8 md:absolute md:bottom-0 lg:top-auto md:right-0 lg:right-1/2">
                <div class="md:pb-0">
                    <p class="main-text">Par {{ page.author }},</p>
                </div>

                <div class="pt-0">
                    <p class="main-text">Le {{ page.date | date_to_french }}</p>
                </div>
            </div>
        </div>
    </div>
</article>
