<article class="width mt-24 md:mt-32 xl:mt-48">
    <div class="container-big">
        <header>
            <p class="text-yellow-500 main-text mb-5">
                <a href="/blog.html" class="hover:text-gray-700">Blog </a>/
                <a href="{{ site.baseurl }}{% link blog/categories.md %}" class="hover:text-gray-700">Catégories</a> /
                <a href="{{ site.baseurl }}{% link _categories/{{ page.category }}.md %}" class="hover:text-gray-700">{{ page.category | capitalize }}</a> /
                {{ page.title | capitalize }}
            </p>
        </header>

        <div class="flex flex-col lg:flex-row relative mx-12 md:mx-20 lg:mx-0">
            <img src="{{ page.image }}" alt="{{ page.alt }}" class="w-full lg:w-2/4">

            <div class="bg-pink-500 md:flex md:space-x-8 text-gray-100 py-4 px-4 absolute right-0 top-0 lg:top-auto lg:right-1/2 lg:bottom-0">
                <div class="space-y-2 pb-5 md:pb-0">
                    <h2 class="font-expletus_sans text-base font-semibold tracking-widest md:text-lg xl:text-xl">
                        Auteur :
                    </h2>

                    <p class="text-gray-700 main-text">{{ page.author }}</p>
                </div>

                <div class="md:space-y-2 border-t-2 md:border-t-0 md:border-l-2 border-gray-900 pt-5 md:pt-0 md:pl-8">
                    <h3 class="font-expletus_sans text-base font-semibold tracking-widest md:text-lg xl:text-xl mb-2">
                        Publication :
                    </h3>

                    <p class="text-gray-700 main-text">{{ page.date | date_to_french }}</p>
                </div>
            </div>

            <div class="blog blog-gradient">
                <h1 class="mb-5 title">{{ page.title }}</h1>

                <p class="main-text">{{ page.subtitle }}</p>
            </div>
        </div>
    </div>
</article>
