<main class="bg-gray-100">
    <div class="md:-translate-y-16 xl:-translate-y-24">
        {% if paginator.page == 1 %}
        <article class="width height shadow-2xl bg-white">
            <div class="container-big">
                {% for post in paginator.posts limit:1 %}
                <a href="{{ site.baseurl }}{{ post.url }}">
                    <div class="flex flex-col lg:flex-row relative mx-4 md:mx-20 lg:mx-10 2xl:mx-20">
                        <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.alt }}" class="md:w-full lg:w-2/4 xl:w-full 2xl:w-2/4">

                        <div>
                            <div class="blog blog-gradient">
                                <h1 class="mb-5 title">{{ post.title }}</h1>
                                <p class="main-text">{{ post.subtitle }}</p>
                            </div>
                            <div
                                class="bg-pink-500 text-gray-100 w-full flex flex-row text-center">
                                <div class="space-y-2 flex-1">
                                    <h2 class="font-expletus_sans text-base font-semibold tracking-widest md:text-lg xl:text-xl">
                                        Auteur :
                                    </h2>

                                    <p class="main-text">{{ post.author }}</p>
                                </div>

                                <div class="space-y-2 flex-1">
                                    <h3 class="font-expletus_sans text-base font-semibold tracking-widest md:text-lg xl:text-xl">
                                        Publication
                                    </h3>

                                    <p class="main-text">{{ post.date | date_to_french }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </article>

        <article class="bg-gray-100 shadow-2xl width height">
            <div class="container-big">
                <div class="mx-4 2xl:mx-10 grid grid-cols-blog gap-x-10 gap-y-4 md:grid-cols-blog-md">
                    {% for post in paginator.posts %}

                    <div class="{% if site.posts.size == 1 %}w-2/4 2xl:w-1/4{% endif %} md:relative space-y-5 flex-1 text-gray-700 card-blog card-gradient">
                        <p class="main-text">{{ post.date | date_to_french }}</p>

                        <img src="{{ site.baseurl }}{{ post.image }}" alt="image d'illustration de l'article" class="object-contain w-full md:min-w-60 md:min-h-32 md:max-h-32">

                        <h1 class="subtitle-blog">{{ post.title }}</h1>

                        <p class="main-text">{{ post.subtitle }}</p>

                        <div class="md:absolute md:start-auto md:bottom-0 md:h-20">
                            <div class="button-blog" title="Cliquez ici pour découvrir l'article">
                                <a href="{{ site.baseurl }}{{ post.url }}">
                                    <p class="button-blog-gray">Lire l'article</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                {% if paginator.total_pages != 1 %}
                    {% include blog/paginate.html %}
                {% endif %}

            </div>
        </article>

        {% else %}

        <article class="bg-gray-100 shadow-2xl width height">
            <div class="container-big">
                <div class="mx-10 2xl:mx-20 grid grid-cols-blog gap-x-10 gap-y-10 md:grid-cols-blog-md">
                    {% for post in paginator.posts %}

                    <div class="space-y-5 flex-1 text-gray-700 card-blog card-gradient">
                        <p class="main-text">{{ post.date | date_to_french }}</p>

                        <img src="{{ site.baseurl }}{{ post.image }}" alt="" class="w-full">

                        <h1 class="subtitle-blog">{{ post.title }}</h1>

                        <p class="main-text">{{ post.subtitle }}</p>

                        <div class="flex justify-center">
                            <div class="button-blog" title="Cliquez ici pour découvrir l'article">
                                <a href="{{ site.baseurl }}{{ post.url }}">
                                    <p class="button-blog-gray">Lire l'article</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                {% if paginator.total_pages != 1 %}
                    {% include blog/paginate.html %}
                {% endif %}

            </div>
        </article>

        {% endif %}
    </div>
</main>
