<main class="h-auto">
    <article class="text-center h-auto bg-white py-24 mt-14 md:py-32 xl:py-48" itemscope itemtype="https://schema.org/WebPage">
        <div class="container-big">
            <div class="mx-10 2xl:mx-20">
                <header>
                    <h1 class="mb-5 text-center font-expletus_sans text-lg font-bold normal-case lg:text-xl">
                        {{ include.title }}</h1>
                </header>

                <p class="m-auto font-hind_guntur text-sm md:text-base lg:text-lg">
                    {{ include.content }}
                </p>

                <p class="m-auto mt-4 text-center font-hind_guntur text-sm md:text-base lg:text-lg">{{ include.mail }}</p>

                <img src="/build/front/images/logo_akawaka_noir.svg"
                     class="m-auto mt-4 w-40 border border-solid border-transparent py-2 px-5 border-gradient-r-pink-orange-white md:mb-0 md:w-48 md:border-2"
                     alt="logo akawaka agence experte php, symfony, sylius"
                     itemprop="image"/>
            </div>
        </div>
    </article>
</main>
