{% include index/experts.html
    margin_top="mt-2.5"
    position="items-start md:items-center"
    title="Des experts pour vos projets web"
    items="Nous utilisons des techniques d'architecture clean via les méthodologies DDD pour des projets qui tiennent dans le temps,;
        Une vraie démarche qualité au travers de tests.;Une industrialisation efficace et adapté pour vos projets,;
        En régie ou en forfait afin de créer et/ou d'intégrer des équipes et travailler en complète collaboration."
%}

{% include index/part-black.html
    image_svg="/build/front/images/sylius_e-commerce.png"
    image_webp="/build/front/images/sylius_e-commerce.webp"
    alt="certification premium solution partner sylius"
    margin_top="mt-2.5"
    position="items-start md:items-center md:justify-center"
    title="L'Ecommerce avec Sylius"
    content="Maitriser ses canaux de vente devient de plus en plus important pour les
        entreprises. Dans le but de donner le maximum de chances à vos projets, nous avons fait le choix d'une
        solution technique solide, en accord avec l'état de l'art et qui nous permettent de faire tout ce que
        vous souhaitez."
    content_2="Vous retrouverez chez nous pas moins de 5 experts Sylius sur des projets B2B, B2C et Marketplace."
%}

{% include index/outils.html
    margin_top="mt-1"
    position="container-big items-center"
    title="Nos outils"
%}

{% include index/part-black.html
    image_svg="/build/front/images/losange_objectifs-min.png"
    image_webp="/build/front/images/losange_objectifs.webp"
    alt="losange de l'agence akwaka avec les couleurs en dégradés"
    margin_top="mt-1"
    position="items-start md:items-center md:justify-center"
    title="Notre objectif"
    content="Nous avons pour objectif de réaliser des prestations de qualités tout en respectant <br />
        nos valeurs humaines, éthiques et notre envie de partage."
    content_2="Notre engagement s'inscrit également au delà de la réalisation de code. <br />
        Nous contribuons également à notre écosystème au travers de notre investissement <br />
        à l'Open Source et nos actions communautaires."
%}

{% include index/clients.html
    margin_top="mt-1"
    position="items-center"
    title="Clients"
%}
