<article class="width mt-24 md:mt-32 xl:mt-48">
    <div class="container-big">
        <header class="mb-7 flex items-start md:mb-10 md:items-center">
            <img src="/build/front/images/losange-coupe.svg" class="diamond"
                 alt="losange en dégradé avec les couleurs de l'agence akawaka"/>

            <h1 class="title mt-2.5 -ml-2 md:mt-0 md:-ml-3 xl:-ml-4">
                C'est quoi Akawaka ?
            </h1>
        </header>

        <div class="mb-7 space-y-3 font-hind_guntur text-sm md:mb-10 md:text-lg">
            <p>akawaka est une SAS au capital de 4 000 euros, inscrite au RCS de Lyon sous le numéro SIRET 893 587 717
                00016, et ayant pour code APE 6201Z.</p>

            <p>Le siège social est situé à l'adresse :</p>
        </div>

        <div class="flex items-center gap-x-3">
            <img srcset="/build/front/images/losange-team-sm.webp 80w, /build/front/images/losange-team-md.webp 96w, /build/front/images/losange-team-lg.webp 128w"
                 sizes="(max-width: 640px) 80px, (max-width: 768px) 96px, 128px"
                 src="/build/front/images/losange-team.png"
                 alt="image femme présentant l'agence akawaka avec un tableau aux couleurs de celle-ci"/>

            <div class="space-y-2 font-hind_guntur text-sm md:text-lg">
                <p>123 rue marino simonetti</p>

                <p>69150 Décines</p>

                <p>France</p>
            </div>
        </div>
    </div>
</article>

<article class="width height">
    <div class="container-big">
        <h3 class="mb-7 font-expletus_sans text-base font-bold normal-case md:mb-10 xl:text-xl">Contenus, vie privée et droit d’auteur</h3>

        <div class="mb-7 space-y-3 font-hind_guntur text-sm md:mb-10 md:text-lg">
            <p>Le responsable de la publication est M. Alexandre Balmes, président de la société, joignable par mail :
                legal@bonjour.akawaka.fr.</p>

            <p>Ce site ne recueil aucune informations personnelle.</p>

            <p>Les textes et contenus mis à disposition sur ce site sont soumis à la loi Française sur le droit
                d’auteur.</p>
        </div>
    </div>
</article>
