<main class="bg-gray-100">
    <div class=" md:-translate-y-16 xl:-translate-y-24">
        {% include services/section.html
            color="bg-white"
            title="Développement d’applications sur-mesure"
            content="Tous les projets sont différents,
                <strong>nous vous accompagnons tout au long du développement de votre application</strong>
                dans le but de répondre au mieux à vos besoins. Nous vous aidons tout au long de sa création de
                <strong>la définition des besoins en passant par le webdesign, l’architecture, le développement ou encore la mise en production
                </strong>."
            image="/build/front/images/developpement-application-web-sur-mesure.svg"
            subtitle="Nous travaillons avec des outils maitrisés, en confiance et qui ont fait leurs preuves :"
            items="HTML;CSS;PHP;Symfony;Sylius;Rust;React;VueJS;Angular;Docker;Github action; Gitlab CI/CD"
            iteration=3
        %}

        {% include services/section.html
            color="bg-gray-100"
            title="Assistance technique"
            content="Nous mettons notre savoir-faire à votre service afin de venir
                <strong>renforcer votre équipe</strong>
                et de
                <strong>vous aider dans la réalisation de vos projets</strong>
                que ce soit pour une courte ou longue durée."
            image="/build/front/images/assistance-technique.svg"
            subtitle="Nos différents métiers :"
            iteration=2
            items="Developpement;Lead développement;Lead technique;Architecture;Direction technique;Pilotage de projets"
        %}

        {% include services/section.html
            color="bg-white"
            title="Des experts avant tout"
            content="Il n’est pas toujours facile de maîtriser toutes les facettes d’un projet web, pour remédier à cela nous
                <strong>intervenons sur des sujets techniques</strong>
                d’architecture ou encore d’expertise et mettons en place un accompagnement adapté à vos besoins."
            image="/build/front/images/architecture-et-expertise-technique.svg"
            subtitle="Nos domaines d'intervention :"
            iteration=2
            items="La mise en place d’architecture clean via des méthodologies DDD;L’accompagnement des équipes dans la mise
                en place de qualité logicielle (tests unitaires, tests fonctionnels, analyse statique…);La normalisation du SI;
                La mise en place de CI/CD et automatisation des déploiements"
        %}

        {% include services/section.html
            color="bg-gray-100"
            title="Audit"
            content="Nous n'arrivons pas sur vos projets sans réfléchir et les connaitre. C'est pourquoi nous proposons
                <strong>d’établir un diagnostic de vos projets</strong>
                dans le but de vous conseiller le plus efficacement possible en respectant vos contraintes."
            image="/build/front/images/audit.svg"
            subtitle="Nos conseils portent sur :"
            iteration=2
            items="La qualité de votre application web;La sécurité;L’architecture;
                L'environnement technique;Les méthodologies de travail utilisées;La couverture de test"
        %}
    </div>
</main>
