{% include sylius/introduction.html
    title="Sylius"
    position="items-center"
    content="Sylius est une solution pour les sites e-commerce
        sur-mesure. Encore peu connue en France, la plateforme bat cependant des records et s’annonce comme l’un
        des acteurs majeurs du e-commerce. Basé sur le framework Symfony, Sylius permet de développer des
        applications répondant à vos besoins : B2B, B2C ou marketplace."
    video="/build/front/images/sylius.mp4"
    img_video="/build/front/images/image-sylius-video.jpg"
    title_video="Présentation de Sylius"
%}

{% include sylius/why-store.html
    title="Pourquoi Sylius ?"
    position="items-center justify-center"
    content="Sylius est Open Source, suit l'état de l'art du PHP et son code est entièrement couvert par des tests unitaires et fonctionnels. <br />
        Ces points correspondent à nos valeurs qui sont le partage et la qualité tout en intégrant notre domaine d'expertise : Symfony."
    content_2="L'outil permet de bénéficier d’un ensemble de fonctionnalités prêtes à l’emploi qui pourront par la
        suite être personnalisées en toute simplicité.<br/>
        La conception de Sylius permet également de s'interconnecter et de s'adapter facilement à l'ensemble de
        votre SI (ERP, PIM, CRM, mailing, ...)."
%}

{% include sylius/solution-resume.html
    title="Une solution e-commerce complète"
    position="items-start md:items-center"
    margin_top="mt-2.5"
    subtitle="Sylius regroupe les fonctionnalités classiques du e-commerce tout en permettant d’adapter votre projet :"
    items="Multicanal et cross-device;Gestion complète des produits et de ces variants grâce aux options et aux attributs;
        Gestion des coupons et des promotions au travers d'un moteur de règles puissant et personnalisable;
        Gestion avancée des devises, modes et règles de transport mais aussi des taxes et moyens de paiement;
        Une bibliothèque de plugins Open Source;Une API qui couvre 100% des fonctionnalités"
    content="Sylius est certainement la solution ecommerce la
        plus flexible à ce jour dans l'écosystème PHP. Cela s’explique par le fait qu’il est possible d’utiliser une
        grande partie des ressources liées à Symfony tout en apportant une attention sur l'architecture et la
        qualité logicielle liée aux contraintes de l'e-commerce."
%}

{% include sylius/why-store.html
    title="Une boutique entièrement personnalisable"
    position="items-start justify-center 2xl:items-center"
    margin-top="mt-2.5"
    content="Sylius étant un framework, il est possible de personnaliser votre boutique sans limites graphique ou techniques.
        <br/>
        De la simple charte graphique aux interfaces headless, tout est possible."
%}

{% include sylius/solution-resume.html
    title="Pour résumer"
    position="items-center"
    subtitle="Les avantages que propose Sylius :"
    items="Des APIs pré-intégrées pour créer facilement des applications mobiles pour votre marque,;
        Une expérience utilisateur unique grâce à la grande flexibilité dans la manipulation des thèmes,;La simplicité d’intégration de vos outils déjà existants,;
        Un back office souple et modifiable afin de répondre à vos besoins,;Un pré-intégration des solutions de paiement,;
        La possibilité de l'héberger aussi bien dans le cloud que sur vos propres serveurs,;Une stack technique continuellement à jour avec les standards du moment."
%}

{% include sylius/accompaniment.html
    title="Nous vous accompagnons sur votre projet"
    position="items-start 2xl:items-center"
    margin_top="mt-2.5"
    content="Nous avons fait le choix de devenir expert et partenaire Sylius car nous avons entièrement confiance dans
        les performances de cette plateforme. Nos années d’expérience en développement nous permettent de vous
        accompagner du début à la fin de votre projet. Que ce soit dans la conception, le développement ou la prise
        en main de votre site nous travaillerons ne collaboration avec vous afin de vous offrir une solution qui
        vous ressemble."
%}
