default:
    suites:
        cms:
            contexts:
                - App\Tests\Behat\CMS\Application\PageContext
                - App\Tests\Behat\CMS\Application\ChannelContext
                - App\Tests\Behat\CMS\Application\CategoryContext
                - App\Tests\Behat\CMS\Application\ArticleContext

    extensions:
        FriendsOfBehat\SymfonyExtension: null
