default:
    suites:
        cms:
            paths:
                - 'packages/Bundle/CmsBundle/features'
            contexts:
                - App\Tests\Behat\Application\PageContext
                - App\Tests\Behat\Application\ChannelContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: "tests/bootstrap.php"
