<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}🍍{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('front', null, 'front') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('front', null, 'front') }}
        {% endblock %}
    </head>
    <body class="bg-gray-50">
        {% block header %}
            {% include "front/partials/header.html.twig" %}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            {% include "front/partials/footer.html.twig" %}
        {% endblock %}
    </body>
</html>
