{% extends 'front/base.html.twig' %}

{% block body %}
<div class="text-center">
    <h2 class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">akawaka</h2>
</div>
{% endblock %}
