@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Hind+Guntur:wght@300;400;500;600;700&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "@glidejs/glide/src/assets/sass/glide.core";
@import "@glidejs/glide/src/assets/sass/glide.theme";

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, rgb(242, 158, 25), rgba(222, 30, 126));
}


#menu-toggle:checked + #menu {
  display: block;
}

img {
    object-fit: cover;
}

.opacity {
  background: linear-gradient(
    to right,
    rgba(242, 158, 25, 0.9),
    rgba(222, 30, 126, 0.9)
  );
}

.text-shadow {
  text-shadow: 1px 1px 2px #000000;
}

::selection {
  background-color: #f29e19;
  color: #1e1e1e;
}

/*------------Class for balise-----------*/

    footer {
        @apply h-36 bg-gray-700 text-center font-expletus_sans text-white md:h-40 xl:h-48;
    }

/*-------------Class for placement-------------*/

    .container-big {
        @apply 2xl:container 2xl:mx-auto;
    }

    .width {
        @apply mx-8 md:mx-16 xl:mx-64;
    }

    .width-padding {
        @apply px-8 md:px-16 xl:px-64;
    }

    .height {
        @apply py-12 md:py-16 xl:py-24;
    }

/*------------Class for text-------------*/

    .main-text {
        @apply font-hind_guntur text-base md:text-lg xl:text-xl;
    }

    .title {
        @apply font-trirong text-xl font-bold uppercase tracking-widest md:text-2xl xl:text-3xl;
    }

    .subtitle {
        @apply text-center font-expletus_sans text-base font-semibold tracking-widest md:text-lg xl:text-xl;
        &-blog {
            @apply font-expletus_sans text-sm font-semibold tracking-widest md:text-base xl:text-lg;
        }
    }

/*-------------Class created-----------*/

    .menu {
        @apply fixed top-0 z-20 flex h-14 w-full items-center bg-gray-700 font-expletus_sans text-white md:h-20 xl:h-20;
    }

    .button {
        @apply mt-10 h-14 w-32 border-2 border-solid border-transparent font-expletus_sans border-gradient-r-pink-orange-gray-700 md:w-36 hover:border-0;
        &-black {
            @apply h-full w-full flex justify-center items-center bg-gradient-to-r from-gray-700 to-gray-700 text-center text-sm hover:from-pink-500 hover:to-yellow-500 md:text-base;
        }
        &-white {
            @apply h-full w-full flex justify-center items-center bg-gradient-to-r from-white to-white text-center text-sm hover:from-pink-500 hover:to-yellow-500 md:text-base;
        }
    }

    .button-blog {
        @apply h-10 w-24 border-2 border-solid border-transparent font-expletus_sans border-gradient-r-pink-orange-white md:h-14 md:w-36 hover:border-0;
        &-gray {
            @apply h-full w-full flex justify-center items-center bg-gradient-to-r from-white to-white text-center text-sm hover:from-pink-500 hover:to-yellow-500 md:text-base;
        }
    }

    .diamond {
        @apply w-8 md:w-10 xl:w-11;
    }

    .part-black-background {
        @apply m-auto grid grid-cols-5 items-center justify-center gap-x-10 py-5 px-8 md:w-3/4 md:px-0 lg:py-10 xl:w-3/4 container-big 2xl:w-4/5 2xl:gap-x-20;
        > img {
            @apply ml-auto hidden w-64 lg:block 2xl:ml-0;
        }
    }

    .tools {
        @apply relative m-auto flex h-20 w-32 items-center justify-center bg-white shadow-2xl md:h-40 md:w-52;
        .start {
            @apply absolute inset-0 m-4 bg-contain bg-center bg-no-repeat;
        }

        .action {
            @apply opacity absolute inset-0 z-10 flex flex-col items-center justify-center px-3 font-semibold text-white opacity-0 duration-300 hover:opacity-100;
        }
    }

    .customer {
        @apply relative m-auto flex h-20 w-32 items-center justify-center bg-white border-b-4 border-solid border-transparent border-gradient-r-orange-pink-white md:h-48 md:w-full;
        .start {
            @apply absolute inset-0 m-4 bg-contain bg-center bg-no-repeat md:bg-10;
        }

        .action {
            @apply opacity absolute inset-0 z-10 flex flex-col items-center justify-center px-3 font-semibold text-white opacity-0 duration-300 hover:opacity-100;
        }
    }

    .list-services {
        @apply ml-2 text-sm md:text-base xl:text-lg;
    }

    .card {
        @apply py-8 flex flex-col items-center justify-center px-8 mx-10 shadow-xl flex-1 lg:shadow-2xl 2xl:mx-20 2xl:w-2/4;

        &-gradient {
            @apply bg-white border-b-8 border-solid border-transparent border-gradient-r-pink-orange-white;
        }

        &-black {
            @apply bg-white border-b-8 border-gray-700;
        }

        &-blog {
            @apply py-8 flex flex-col items-center px-8 shadow-xl lg:shadow-2xl flex-1
        }

        h2 {
            @apply my-5;
        }
    }

    .blog {
        @apply py-20 flex flex-col justify-center px-12 md:px-20 shadow-xl lg:shadow-2xl flex-1;

        &-gradient {
            @apply bg-white border-b-8 border-solid border-transparent border-gradient-r-pink-orange-gray-100;
        }
    }

    .quote {
        @apply bg-gray-100 text-center font-semibold font-trirong mx-10 my-8 px-20 py-16 xl:mx-32 xl:my-10 xl:px-32 xl:py-20;
    }

/*------------Class for post-------------*/

#post {
    h1 {
        @apply title text-yellow-500 text-center mb-6 pt-10;
    }

    h2 {
        @apply text-center mt-10 block subtitle mb-6;
    }

    h3 {
        @apply mt-6 block mb-4 font-expletus_sans text-sm text-yellow-500 font-semibold tracking-widest md:text-base xl:text-lg;
    }

    p {
        @apply main-text mb-5;
    }

    a {
        @apply text-yellow-500 underline;
    }

    ul {
        @apply list-none space-y-2 mb-5;

        li {
            @apply main-text text-justify;
            background: url("images/losange-min.png") no-repeat left;
            background-size: 1.25rem;
            padding-left: 2rem;
        }
    }

    ol {
        @apply list-decimal space-y-2 mb-5;

        li {
            @apply main-text text-justify;
            margin-left: 1rem;
            padding-left: 1rem;
        }
    }

    blockquote {
        @apply mx-10 my-8 px-20 py-16 xl:mx-32 xl:my-10 xl:px-32 xl:py-20;
        background: url("images/quote-left.svg") no-repeat top 2.5rem left 2.5rem, url("images/quote-right.svg") no-repeat bottom 2.5rem right 2.5rem, #f3f4f6;

        @media (max-width: 640px) {
            background-size: 1.5rem;
        }
        background-size: 2.5rem;
        text-align: center;
        justify-content: center;
        font-weight: 600;

        p {
            @apply mb-0;
        }
    }

    code {
        font-family: 'Trirong', serif !important;
        background: rgb(229 231 235);
        border-radius: 5px;
        padding: 0 10px;
        white-space: pre-wrap;
    }

    figcaption {
        @apply main-text text-yellow-500 mt-2;
    }

    .highlight {
        background: linear-gradient(to left, rgba(242, 158, 25, 0.5), rgba(222, 30, 126, 0.5));
        padding: 1rem 1rem;
        border-radius: 5px;
        @apply text-white mb-5 font-hind_guntur text-xs md:text-sm xl:text-base;

        code {
            background: none;
            padding: 0 0;
        }
    }

    hr {
        @apply border-b-2 border-yellow-500 w-2/4 my-10 mx-auto;
    }

    iframe {
        margin: 0 auto;
    }
}


