@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Hind+Guntur:wght@300;400;500;600;700&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#menu-toggle:checked + #menu {
  display: block;
}

.opacite {
  background: linear-gradient(
    to right,
    rgba(242, 158, 25, 0.9),
    rgba(222, 30, 126, 0.9)
  );
}

.txtshadow {
  text-shadow: 1px 1px 2px #000000;
}

::selection {
  background-color: #f29e19;
  color: #1e1e1e;
}
